@import url("header.css");
@import url("footer.css");
@import url("bottomBlock.css");
@import url("topBlock.css");

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.page{
    margin: 0 auto;
    width: 1440px;
}

.page__top{
    padding: 50px;
    background: linear-gradient(132.05deg, #428E5F -17.38%, #112120 78.4%);
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
}

.page__bottom{
    padding: 50px;
    margin-top: 50px;
}